.container-sm {
    /* background-color: blue; */
    /* max-width: 110rem; */
    /* position: relative; */

}

.profilebg {
    background-image: url(dish.png);
    position: relative;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(2px);
    /* background-position: 10% 65%; */
    /* position: absolute; */
}

.profileinfo {
    /* position: absolute; */
    position: absolute;
    margin-top: 18px;
    margin-left: 7px;
}

.profileedit {
    position: absolute;
    margin-top: 57px;
    margin-left: 1117px;
}

#profileimg {
    border: solid white 2px;
    border-radius: 50%;
    height: 174px;
    width: auto;
}

.cwhite {
    color: white;

}

.edit {
    background-color: rgb(237, 90, 107);
    padding: 11px;
    color: white;
    border-radius: 10px;
    border: none;
}
.edit:hover{
    background-color: rgb(236, 70, 84);
}

.leftpanel {
    float: left;
    margin-top: 31px;
    width: 305px;
    margin-bottom: 2rem;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 8px;

}
.leftitem:hover{
    cursor: pointer;
}

.leftitem {
    padding: 5px;
    margin-bottom: 2px;
}

.leftitem a {
    font-weight: 400;

    font-size: 1.3rem;
    font-family: 'PT Sans', sans-serif;
}

.itemtext {
    color: rgb(21, 142, 179) !Important;
}

/* .leftitemclickclass {} */
.update{
    background-color:rgb(237, 90, 107);
    border: none;
    width: 140px;
    height: 50px;
    color: white;
    border-radius: 30px;
}


/* edit button form css */
* {
    box-sizing: border-box;
}

.img-box {
    position: relative;
    width: 18%;
    max-width: 300px;
    border-radius: 50%;
}

.image {
    /* position:absolute; */
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.circle {

    position: absolute;
    top: 50%;
    left: 50%;
    background: rgba(250, 247, 247, 0.6);
    padding: 1.2rem;
    border-radius: 50%;
    cursor: pointer;
    /* z-index: 2; */
    transform: translateY(-50%) translateX(-50%);
    pointer-events: all;
}

.overlay {
    position: absolute;
    /* background: rgb(0, 0, 0); */
    /* background: rgba(0, 0, 0, 0.5); Black see-through */
    /* filter: blur(4px); */
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    opacity: 0;
    transition: .5s ease;
    z-index: 2;
    opacity: 0;


}

.img-box:hover .image {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.img-box:hover .overlay {
    opacity: 1;
    /* z-index: 3; */
}

.svg {
    position: absolute;
    height: 25px;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /* top: 34%;
    left: 36%; */
}

.stylebox{
    position: relative;
    top: 36px;
    width: 100%;
    height: 2.3rem;
    border-left: 3px solid rgb(237, 90, 107);
    transform: translateY(0%);
    background: linear-gradient(270deg, rgb(247, 235, 236) 0%, rgba(251, 246, 247, 0) 92.47%);
    opacity: 1;
    z-index: -1;
    transition: opacity 0.5s ease 0s,
    transform 0.5s ease 0s;
}